*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'roboto', sans-serif;
    font-size: 1vw;
}
h1{
    font-size: 5.5vw;
}
h2{
    font-size: 3vw;
}
h3{
    font-size: 1.5vw;
}

                                            /*header*/

nav{                                        /*nav*/
    background-color: white;
    position:fixed;
    top: 0;
    left: 0;
    min-height: 8vh;
    width: 100%;
    z-index: 999;
}
.navbox::after{
    content: "";
    display: table;
    clear: both;
}
.navbox{
    margin-left: 1%;
    width: 48%;
    float: left;
}
.navbox2{
    float: right;
    text-align: right;
    width: 48%;
    margin-right: 1%;
}
header a{
    text-decoration: none;
}
header a:visited{
    text-decoration: none;
    color: inherit;
}
nav div{
    display: inline-block;
}
.logo img{
    vertical-align: text-bottom;
}
.logo{
    margin-right: 40px;
}
ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    line-height: 8vh;
    margin: 0 20px;
}
nav li:hover{
    text-decoration: underline;
}
#button{
    background-color: rgb(0,97,255);
    padding: 10px 25px;
    color:white;
    text-decoration: none;
}


                                            /*titolone*/
#titolone{
    height: 85vh;
    margin-top: 8vh;
    background-color: #B4D0E7;
    padding: 8vh 15vh;
}
#titolone{
    content: "";
    display: table;
    clear: both;
}
.jumbosx{
    float: left;
    width: 40%;
    margin-top: 5vh;
}
.jumbosx p{
    width: 75%;
}
.jumbosx a#button{
    margin-top: 4vh;
    display: inline-block;
    margin-bottom: 1vh;
}
.jumbosx p:nth-last-of-type(1){
    font-size: 18px;
}
.jumbosx i[class^="fas"]{
    font-size: 2.5vw;
    margin-top: 4vh;
}
.jumbodx{
    float:left;
    width: 60%;
    margin-top: 5vh;
    position: relative;

}
.jumbodx img{
    width: 50vw;
    height: auto;
    position: absolute;
    top: 0;
    right: 1vw;
}                                             
                                            /*main*/
main{                                       
    padding-top: 20vh;
}

.mainhead h2{                               /*mainhead*/
     margin-bottom: 5vh;
}
#pianificazione:nth-child(4){
    margin-left: 1vw;
}
.colonne{                                    /*colonne*/
    margin: 4vh auto;
}
.corpo{
    width: 80%;
    margin: 0 auto;
}
.col::after{
    content: "";
    display: table;
    clear: both;
}
.col{
    border: 1px solid black;
    height: 125vh;
    width: 30%;
    float: left;
}
.col.cx{
    margin: auto 5%;
}
.colhead{
    text-align: center;
    line-height: 6vh;
    vertical-align: middle;
    border-bottom: 1px solid black ;
}
.coltext{
    padding: 3vh 1.5vw 0 1.5vw;
}
.coltext h4{
    margin: 2vh 0 1vh 0;
}
.coltext span:nth-child(3){
    color: grey;
    font-size: 18px;
}
.coltext p:nth-of-type(1){
    margin-top: 4vh;
}
.coltext p{
    margin-bottom: 2vh;
}
.coltext div{
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 5vh;
}
.coltext #button a:visited{
    text-decoration: none;
    color:inherit;
}
.coltext hr{
    margin: 5vh 0;
    width: 20%;
}
.coltext ul li i{
    color: #0061FF;
}
.coltext ul li{
    margin: 4vh 0;
}
.colfooter{
    height: 30vh;
    width: 100%;
    margin: 7vh auto;
    border: 1px solid black;
    float: left;
}
.colfooter h3{
    display: inline-block;
}
.colfooter .coltext a{
    float: right;
}                                           

                                      /*Section partner*/
.partner{
    width: 80%;
    margin: 0 auto;
}
.partner::after{
    content: "";
    display: table;
    clear: both;
}
.partnerphoto, .partnertext{
    float: left;
    width: 50%;
}
.partnerphoto img{
    max-width: 100%;
    max-height: 100%;
}
.partnertext{
    padding: 6vw; 
}
.partnertext p{
    margin: 4vh auto;
}
.partnertext #button{
    background-color: white ;
    border: 1px solid black;
    color: black;                           
}                                               

                                        /*Section functionsEse*/
.functions{ 
    margin: 10vh auto;
    width: 80%;
    margin: 0 auto;
}
.functions::after{
    content: "";
    display: table;
    clear: both;
}
.feature{
    width: 30%;
    float: left;
    margin-top: 8vh;
}
.feature:nth-of-type(3n+2){
    margin-left: 5%;
    margin-right: 5%;
}
.feature img{
    max-width: 100%;
    max-height: 50%;
}
.feature p{
    margin-top: 3vh;
}

                                            /*Section functionspam*/
.functionspam{
    margin-top: 25vh;
    width: 80%;
    margin: 0 auto;
}
.functionspam h2{
    width: 59%;
    margin-bottom: 5vh;
}
                                            /*Sponsor*/
#sponsor{
    height: 60vh;
    border: 1px solid black;
    margin-top: 10vh;
}
#sponsor::after{
    content: "";
    display: table;
    clear: both;
}
.sponsor.sx, .sponsor.dx{
    width: 30%;
    float: left;
    height: 60vh;
}
.sponsor.cx{
    width: 40%;
    float:left;
}
.sponsor::after{
    content: "";
    display: table;
    clear: both;
}
.sponsor.sx div{
    height: 50%;
    width: 50%;
    float: left;
}
.sponsor.sx div:nth-child(1){
    background-color: #A2D39B;
    border: 10px solid #D0E9CD;
}
.sponsor.sx div:nth-child(2){
    background-color: #61082B;
}
.sponsor.sx div:nth-child(3){
    background-color: #0093CE;
}
.sponsor.sx div:nth-child(4){
    background-color: #FF1C1C;
}
